{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% extends "base.html.twig" %}

{% block login_content %}
	<div id="login-content">
		{% block mfa_title %}
			<div id="login-title">
			{% import "macros.twig" as Macro %}
				{{ Macro.BlockExtension(aPluginFormData, 'mfa_title') }}
			</div>
		{% endblock %}

		{% block mfa_configuration %}
			<div id="mfa_configuration">
				{% import "macros.twig" as Macro %}
				{{ Macro.BlockExtension(aPluginFormData, 'mfa_configuration') }}
			</div>
		{% endblock %}

		{% block mfa_validation %}
			<div id="mfa_validation">
				{% import "macros.twig" as Macro %}
				{{ Macro.BlockExtension(aPluginFormData, 'mfa_validation') }}
			</div>
			{% for sUserSettingsClass in aSwitchData %}
				{% set sLinkLabel = "MFA:login:switch:label:" ~ sUserSettingsClass %}
				<form id="switch-form-{{ sUserSettingsClass }}" method="post">
					<input type="hidden" name="selected_mfa_mode" value="{{ sUserSettingsClass }}">
					<div class="v-spacer"><a onclick="$('#switch-form-{{ sUserSettingsClass }}').submit();">{{ sLinkLabel|dict_s }}</a></div>
				</form>
			{% endfor %}
		{% endblock %}
	</div>
{% endblock %}

{% block script %}
	{% import "macros.twig" as Macro %}
	{{ Macro.BlockExtension(aPluginFormData, 'script') }}
{% endblock %}